<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitizePlot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DigitizePlot.Properties.Settings>
            <setting name="WinState" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WinTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WinLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WinWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Magnify" serializeAs="String">
                <value>3</value>
            </setting>
        </DigitizePlot.Properties.Settings>
    </userSettings>
</configuration>