<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitizePlot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DigitizePlot.Properties.Settings>
            <setting name="WinState" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WinTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WinLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WinWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Magnify" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SortMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoTolerance" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="PixelStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoSpacing" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AutoSpaceType" serializeAs="String">
                <value>X Distance</value>
            </setting>
            <setting name="AxisGuides" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StyleX" serializeAs="String">
                <value>Linear</value>
            </setting>
            <setting name="StyleY" serializeAs="String">
                <value>Linear</value>
            </setting>
            <setting name="NearestNeighbour" serializeAs="String">
                <value>False</value>
            </setting>
        </DigitizePlot.Properties.Settings>
    </userSettings>
</configuration>